$primaryColor: #4527a4;

// Common CSS
html {
  scroll-behavior: smooth;
}

// Dashicon
.dashicons {
  font-family: dashicons !important;
}

.wp-block-dch-dual-color-headin {
  * {
    box-sizing: border-box;
  }

  .prefixBlockName {
    display: inline-block;
  }

  .icon {
    font-style: inherit;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.dch-dual-color-title {
  margin: 10px 0;
}
.dch-separator-wrapper {
  display: flex;
  width: 100%;
}
.dch-dual-color-container {
  padding: 10px;
}
